.tm-admin-page label {
    display:block;
    font-weight:500;
}

.tm-admin-page .form-group, .tm-admin-page .input-group {
    margin-bottom: 0.5rem;
}

.tm-admin-page label {
    margin-bottom: 0.25rem;
}

.tm-admin-page .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.tm-admin-page .inside-pad {
    padding: 10px 20px 20px;
}

.tm-admin-page .tag + input[type="text"] {
    width: 100%;
    display: block;
    margin-top: 15px;
}

.tm-admin-page .tag.label {
    background: #0085ba;
    padding: 2px 10px;
    color: #EEE;
    margin-bottom: 3px;
    display: inline-block;
    border-radius: 3px;
}