.tm-admin-page label {
    display:block;
    font-weight:500;
}

.tm-admin-page .form-group, .tm-admin-page .input-group {
    margin-bottom: 0.5rem;
}

.tm-admin-page label {
    margin-bottom: 0.25rem;
}

.tm-admin-page .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.tm-admin-page .email-icon-right {
    position:relative;
}

.tm-admin-page .email-icon-right:after {
    content: "@";
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 20px;
}

.tm-admin-page img#image-preview {
    margin-bottom: 7px;
}

.tm-admin-page .inside-pad {
    padding: 10px 20px 20px;
}

.tm-admin-page .bootstrap-tagsinput > input[type="text"] {
    width: 100%;
    display: block;
    margin-top: 10px;
    padding:4px 5px;
}

.tm-admin-page .tag.label {
    padding: 2px 10px;
    margin-bottom: 3px;
    display: inline-block;
    border-radius: 3px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.tm-admin-page .bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.tm-admin-page .bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.tm-admin-page .fullw-input {
    width: 100%;
    display: block;
    padding: 4px 5px;
}